/* src/App.css */
.video-background {
  position: fixed; /* Pastikan video tetap di tempat */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Video di belakang konten */
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Tambahkan gaya untuk Navbar dan konten lainnya */
.navbar {
  position: relative; /* Pastikan navbar berada di atas video */
  z-index: 1; /* Lebih tinggi dari video */
}

.content {
  position: relative; /* Pastikan konten berada di atas video */
  z-index: 1; /* Lebih tinggi dari video */
}
/* App.css */
.container {
  display: grid; /* Menggunakan grid layout */
  grid-template-columns: repeat(4, 1fr); /* Membuat 4 kolom yang sama */
  gap: 20px; /* Jarak antar kartu */
  padding: 20px; /* Ruang di dalam kontainer */
}

/* App.css */
.card {
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Warna latar belakang putih dengan transparansi */
  border-radius: 10px; /* Sudut melengkung */
  padding: 20px; /* Ruang di dalam kartu */
  backdrop-filter: blur(10px); /* Efek blur di belakang kartu */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
  transition: transform 0.3s; /* Transisi untuk efek hover */
  width: 100%; /* Mengatur lebar kartu menjadi 100% dari kolom grid */
  max-width: 250px; /* Menambahkan batasan lebar maksimum */
  height: auto; /* Tinggi otomatis untuk menjaga rasio aspek */
  display: flex; /* Menggunakan flexbox untuk tata letak di dalam kartu */
  flex-direction: column; /* Mengatur arah flex menjadi kolom */
  align-items: center; /* Menjaga konten di tengah */
  justify-content: space-between; /* Menjaga jarak antar elemen di dalam kartu */
}
.card:hover {
  transform: scale(1.05); /* Efek zoom saat hover */
}

.card img {
  width: 100%; /* Mengatur gambar agar memenuhi lebar kartu */
  height: auto; /* Menjaga rasio aspek gambar */
  border-radius: 10px; /* Sudut melengkung pada gambar */
}

.card-title {
  white-space: nowrap; /* Mencegah teks membungkus ke baris berikutnya */
  overflow: hidden; /* Menyembunyikan teks yang melampaui batas */
  text-overflow: ellipsis; /* Menambahkan ellipsis (...) pada akhir teks yang terpotong */
  font-size: 1.2em; /* Ukuran font untuk judul */
  margin: 0; /* Menghilangkan margin default */
}
